body {
    background-color: lightskyblue;
    color: #111;
    font-family: Roboto, sans-serif;
}

#react-container {
    margin-top: 12%;
    text-align: center;
}

#react-container span {
    color: #fff;
}

form {
    width: 30%;
    margin: 0 auto;
    text-align: left;
    float: left;
}

#message {
    float: left;
    margin-left: 20%;
    width: 30%;
}

input, textarea {
    border: 0;
    border: 2px solid #333;
    background-color: transparent;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    margin: 7px 0 15px;
}